// -----------------------------------------
//     Susy setup
// -----------------------------------------

/* Changing Susy default global settings */

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  gutters: .25,
  container: 1280px,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
  // debug: (image: show)
);

/* Makes border-box properties */
@include border-box-sizing;


// ==========================================================
// LAYOUT 
// ==========================================================



.site-wrapper {
  background: url('../images/bg-baseline.png') repeat top left;
  width: 100%;


  @include breakpoint(xs) { background: purple; }

  @include breakpoint(sm) { background: yellow; }

  @include breakpoint(md) { background: orange; }

  @include breakpoint(lg) {
    // max-width: 1200px;
    // margin: 0 auto;
    background: red;

  }
  
}

.site-header,
.site-content,
.site-footer {
    @include container;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    padding:  32px 16px;
}




.site-branding {
    @include span(8); 
}


#site-navigation {
  @include span(4 last); 
}

.site-footer {
  background: black;
}

.content-area {
  
  @include span(8); 
}

.widget-area {
  @include span(4 last); 
}





// site banner

.site-banner {
  width: 100%;
  height: 450px;
  background: url('../images/banner-023.jpg') no-repeat center center;
  background-size: cover;
} 

.site-banner.sticky {
  // set animation
  height: 100px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}


.site-banner .inner-wrapper h3, 
.site-banner .inner-wrapper h1 { display:none;} 

// ==========================================================
// Nav 
// ==========================================================






