// ==========================================================
// Nav 
// ==========================================================


.main-navigation {
  display: inline-block;
  width: 75%;
  height: auto;
}

#site-navigation {
    ul {
        display: inline-block;
        float: right;
        list-style-type: none;
        padding: 0;
        margin: 0;   
    }

    ul li {
        display: inline-block;
        float: left;
        padding-left: 24px;
    }

    ul li a {
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }


    ul li.current-menu-item a {
        color: green;
    }

}




