// -----------------------------------------
//     Susy setup
// -----------------------------------------

/* Changing Susy default global settings */

$susy: (
  columns: 12,
  gutters: .25,
  container: 1024px,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box,
  // debug: (image: show)
);



// ==========================================================
// LAYOUT 
// ==========================================================


.site-wrapper {
  background: url('../images/bg-baseline.png') repeat top left;
}

.site-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


.site-header,
.site-content,
.site-footer,
.inner-wrapper {
  width: 100%;
  margin: 0 auto;
  @include bp-small { width:80%; }
  @include bp-medium { @include container(); }
  @include bp-large { @include container(1280px); }
}

.site-content {
  width: 100%;
}

.content-area {
  @include span(8); 
}

.widget-area {
  @include span(4 last); 
}


// ==========================================================
// Header 
// ==========================================================

.site-header {
    display: block;
    width: 100%;
    height: 80px;
    // background: yellow;
}

.site-branding  {
  float: left;
  display: block;
  width: 25%;
  height: 72px;
  // background: red;
}

.site-logo {
  display: block;
  width: 100%;
  height: auto;
}

.site-logo a {
  display: block;
  width: 100%;
  height: auto;
  padding: 30px 0;
}


// site banner

.site-banner {
  width: 100%;
  height: 450px;
  background: url('../images/banner-023.jpg') no-repeat center center;
  background-size: cover;
} 

.site-banner.sticky {
  // set animation
  height: 100px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}


// ==========================================================
// Nav 
// ==========================================================


.main-navigation {
  display: inline-block;
  width: 75%;
  height: 72px;
}

.main-navigation > div {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

ul#primary-menu {
  float: right;
  display: block;
  margin: 0;
  padding: 27px 0;
}

ul#primary-menu li {
  display: inline-block;
  margin-left: 20px;
  float: left;

}

ul#primary-menu li a {
  position: relative;
  display: block;

  font-family: $title-font-family; 
  font-weight: normal;
  font-variant: normal;
  text-transform: uppercase;
  @include font-size(16);
  line-height: 27px;
  text-decoration: none;
  color: $black-color;
  
  padding: 0 4px;

}

ul#primary-menu li a:hover {
  color: $black-color;
}

ul#primary-menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $black-color;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

ul#primary-menu li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

ul#primary-menu li.current-menu-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $black-color;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

// ==========================================================
// Nav 
// ==========================================================




