// ==========================================================
// LAYOUT 
// ==========================================================



.site-wrapper {
    @include container(960px);
    margin: 0 auto;
}


// Header 
// ==========================================================

.site-header {
    display: block;

    background: red;
}


$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}




p.eduardo {
  font-size: 16px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }
}
