
// -----------------------------------------
//    Typography
// -----------------------------------------




// 1. Typography scale
// ----------------------------


html {
  /* Change default typefaces here */
  font-family: $base-font-family;
  font-size: 112.5%;
  -webkit-font-smoothing: antialiased;

}

/* Copy & Lists */

p {
  @include font-size(18);
  margin-bottom: $base-line;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


/*  Headings
 *  h1 through h6 styling
 *  Heading class lets you use one heading type for semantics
 *  but style it as another heading type. */

h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  font-family: $title-font-family;
  margin-bottom: $base-line;
  font-weight: normal;
  font-style: normal;
}

h1, .h1 {
  @include font-size(36);
  line-height: 2.36;
}
h2, .h2 {
  @include font-size(28);
}
h3, .h3 {
  @include font-size(24);
}
h4, .h4 {
  @include font-size(20);
}
h5, .h5 {
   @include font-size(18);
}
h6, .h6 {
   @include font-size(16);
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}


aside.widget-area {
    


}


