$brand-color: #454545;
$accent-color: yellow;

// Base colors
$base-color: green;
// $brand-color: red;
$brand-80-color: rgba($base-color, 0.8);
$accent-color: yellow;




// Mixin
@mixin center-block {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 
