@import "reset-scss/reset.scss";
@import "variables";
@import "utils";
@import "susy/sass/_susy.scss";
@import "typography";
@import "layout";
@import "shame";


// reset and susy are bower components 


// hide screen reader link
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}



// -----------------------------------------
//     Table of contents
// -----------------------------------------


// base.scss – contains global styles, such as resets, typography, colors, etc.
// components.scss – contains each self-contained component in its own .scss partial
// layout.scss – contains styling for larger layout components; e.g. nav, header, footer, etc.
// pages.scss – contains page-specific styling, if necessary
// themes.scss – contains styling for different themes
// utils.scss – contains global mixins, functions, helper selectors, etc.
// vendors.scss – contains 3rd-party styles, mixins, etc.
// main.scss – output file that brings together all of the above parts

// -----------------------------------------
//     Main styles
// -----------------------------------------

.testing {
  // Percentage is a Sass function
  width: percentage(5/7);
}

.test {
    border-radius: 25px;
    box-shadow: 10px 10px;
    opacity: 0.5;
    display: flex;
    transform: scale(0.5);
    column-count: 4;

}

h1 {
    color: $brand-color;
    opacity: 0.5;
}


.fat_header {
    color: $brand-80-color;
    display: flex;
}



.page_wrapper {
     @include container;
     margin: 0 auto;
}



body {
  background-color: $base-color;
  margin: 0;
  padding: 0;
}


// -----------------------------------------
//     Header 
// -----------------------------------------

.main-header {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 72px;
  line-height: 108px;
  height: 108px;
  background: #335C7D;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

// header {
//     position: fixed;
//     left: 0;
//     right: 0;
//     margin: 0 auto;

//     display: block;
//     width: 960px;
//     height: 72px;


//     text-align: center;
//     font-size: 72px;
//     line-height: 108px;
    
//     background: #335C7D;
//     color: #fff;
//     font-family: 'PT Sans', sans-serif;
    
//     // set animation
//     -webkit-transition: all 0.4s ease;
//     transition: all 0.4s ease;
// }

// header.sticky {
//     position: fixed;
//     left: 0;
//     right: 0;
//     margin: 0 auto;
//     font-size: 24px;
//     line-height: 48px;
//     height: 48px; 
//     width: 960px;
//     background: green;
//     text-align: left;
    
// }

.hero-image {
  width: 100%;
  height: 50vh;
  background: yellow;
  
  border-top: 2px solid red;
}



$i: 6;
@while $i > 0 {
  .item-#{$i} { width: 2em * $i; }
  $i: $i - 1;
}

 