@charset 'UTF-8';

// 1. base
@import "reset-scss/reset.scss";
@import "base/variables";
@import "base/utils";
@import "base/helpers";

// 2. Vendors
@import "susy/sass/_susy.scss";

// 3. Base stuff
@import "typography";

@import "shame";

// 4. Layout-related sections
@import "layout/layout";
@import "layout/header";
@import "layout/menu";

// 5. Components
@import "forms";

// 6. Page-specific styles

// 7. Themes

// 8. Print Stylesheets
@media print {
  @import 'print';
}



// -----------------------------------------
//     Table of contents
// -----------------------------------------


// base – contains global styles, such as resets, typography, colors, etc.
// components – contains each self-contained component in its own .scss partial
// layout – contains styling for larger layout components; e.g. nav, header, footer, etc.
// pages – contains page-specific styling, if necessary
// themes – contains styling for different themes
// utils – contains global mixins, functions, helper selectors, etc.
// vendors – contains 3rd-party styles, mixins, etc.
// main.scss – output file that brings together all of the above parts



// sass/ 
// | 
// |– base/ 
// |   |– _reset.scss       # Reset/normalize 
// |   |– _typography.scss  # Typography rules 
// |   ...                  # Etc… 
// | 
// |– components/ 
// |   |– _buttons.scss     # Buttons 
// |   |– _carousel.scss    # Carousel 
// |   |– _cover.scss       # Cover 
// |   |– _dropdown.scss    # Dropdown 
// |   |– _navigation.scss  # Navigation 
// |   ...                  # Etc… 
// | 
// |– helpers/ 
// |   |– _variables.scss   # Sass Variables 
// |   |– _functions.scss   # Sass Functions 
// |   |– _mixins.scss      # Sass Mixins 
// |   |– _helpers.scss     # Class & placeholders helpers 
// |   ...                  # Etc… 
// | 
// |– layout/ 
// |   |– _grid.scss        # Grid system 
// |   |– _header.scss      # Header 
// |   |– _footer.scss      # Footer 
// |   |– _sidebar.scss     # Sidebar 
// |   |– _forms.scss       # Forms 
// |   ...                  # Etc… 
// | 
// |– pages/ 
// |   |– _home.scss        # Home specific styles 
// |   |– _contact.scss     # Contact specific styles 
// |   ...                  # Etc… 
// | 
// |– themes/ 
// |   |– _theme.scss       # Default theme 
// |   |– _admin.scss       # Admin theme 
// |   ...                  # Etc… 
// | 
// |– vendors/ 
// |   |– _bootstrap.scss   # Bootstrap 
// |   |– _jquery-ui.scss   # jQuery UI 
// |   ...                  # Etc… 
// | 
// | 
// `– main.scss             # primary Sass file 





.page_wrapper {
     @include container;
     margin: 0 auto;
}




// -----------------------------------------
//     Header 
// -----------------------------------------

.main-header {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 72px;
  line-height: 108px;
  height: 108px;
  background: #335C7D;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}





 