// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------


h1.site-title {
    font-size: 27px;
    line-height: 30px;
    margin: 0;
}

p.site-description {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}