@import "variables";
// Import Susy Grid
@import "../bower_components/susy/sass/_susy.scss";


// -----------------------------------------
//     Susy setup
// -----------------------------------------

$susy: (
  columns: 12,
  gutters: .25,
  container: 960px
);


// -----------------------------------------
//     Main styles
// -----------------------------------------

.testing {
  // Percentage is a Sass function
  width: percentage(5/7);
}

.test {
    border-radius: 25px;
    box-shadow: 10px 10px;
    opacity: 0.5;
    display: flex;
    transform: scale(0.5);
    column-count: 4;

}

h1 {
    color: $brand-color;
    opacity: 0.5;
}


.fat_header {
    color: $brand-80-color;
    display: flex;
}



.page_wrapper {
     @include container;
     margin: 0 auto;
}

 article {
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 20px;
            right: 20px;
            padding: 30px; 
            overflow-y: scroll;
            overflow-x: hidden;


            &::-webkit-scrollbar {
                width: 10px;
                height:  10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: red;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgba(255,0,0,0.8); 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
            &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(255,0,0,0.4); 
            }

        }