@import "variables";

.testing {
  // Percentage is a Sass function
  width: percentage(5/7);
}

.test {
    border-radius: 25px;
    box-shadow: 10px 10px;
    opacity: 0.5;
    display: flex;
    transform: scale(0.5);
    column-count: 4;

}

h1 {
    color: $brand-color;
}


.fat_header {
    color: $brand-80-color;
    display: flex;
}
